* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

div.quete {
  width: 50%;
  margin: 0 auto;
}


.main,
.display,
.group {
  display: flex;
}

.display,
.group {
  height: 100px;
}

.main {
  margin: 0 auto;
  margin-top: 30px;
  flex-direction: column;
  width: 700px;
}

.display {
  flex-direction: row-reverse;
  background-color: grey;
  color: white;
  font-weight: bold;
  padding: 20px;
  font-size: 65px;
  overflow-x: hidden;
  position: relative;
}

.details {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}

.button {
  width: 25%;
  height: 100%;
  font-size: 22px;
  border: 1px solid rgb(216, 214, 214);
}

.doubleWidth {
  width: 50%;
}

.orangeBackground {
  background-color: #ff7f00;
}

@media only screen and (max-width: 768px) {
  .main {
    width: 85%;
  }

  .display,
  .group {
    height: 85px;
  }

  .display {
    font-size: 45px;
  }
}

.nav-link
 {
  color:white;
  font-weight: bold;
}

.nav-link:hover,
.footer-link:hover {
  text-decoration: none;
  color: green;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px;
}

header h1 {
  color: white;
}
q {
 
  font-weight: bold;
  font-size: 20px;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

li {
  padding-left: 30px;
}
footer {
  text-align: center;
  font-weight: bold;
}